---
name: Test ansible role

"on":
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "22 2 * * 2"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    # PMM server Docker image only available for amd64
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - debian-11
          - debian-12
          - ubuntu-2204
          - ubuntu-2404

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install ansible docker molecule molecule-plugins[docker] pytest-testinfra

      - name: Run Molecule
        run: molecule --base-config molecule/shared/base.yml test --scenario-name ${{ matrix.scenario }}
        env:
          ANSIBLE_FORCE_COLOR: "1"
          PY_COLORS: "1"
